@model PaginatedList<UserViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@functions {
    public string GetBorderStyle(bool? isActive)
    {
        if (isActive.HasValue && isActive.Value)
        {
            return "border: 2px solid green;";
        }
        else
        {
            return "border: 2px solid red;";
        }
    }
}


   

<div id="userList" class="container-full">
    <div class="content-header">
        <div class="d-flex align-items-center">
            <div class="me-auto">
                <h4 class="page-title">User List</h4>
               
            </div>

        </div>
    </div>
    <!-- Main content -->
    <main>
        <section id="AllUser" class="content ">
            <div class="row">

                @foreach (var userData in Model)
                {
                    @*var userData = (dynamic)user;*@
                    <div class="col-xxxl-4 col-lg-4 col-4">
                        <div class="card" style="border-radius: 15px; @GetBorderStyle(userData.IsActive);">
                            <div class="card-body p-4">
                                <div class="d-flex text-black">
                                    <div class="flex-shrink-0">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                                             alt="Generic placeholder image" class="img-fluid"
                                             style="width: 153px; border-radius: 10px;">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h5 class="mb-1"> @userData.UserName</h5>
                                        <p class="mb-2 pb-1" style="color: #2b2a2a;">@userData.Email</p>
                                        <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                                             style="background-color: #efefef;">
                                            <div>
                                                <p class="small text-muted mb-1">Recipes</p>
                                                <p class="mb-0">@userData.TotalCreatedRecipes</p>
                                            </div>
                                            <div class="px-3">
                                                <p class="small text-muted mb-1">Likes</p>
                                                <p class="mb-0">@userData.TotalLikedRecipes</p>
                                            </div>
                                            <div>
                                                <p class="small text-muted mb-1">Comments</p>
                                                <p class="mb-0">@userData.TotalReviewedRecipes</p>
                                            </div>
                                        </div>
                                        <div class="d-flex pt-1">
                                            <a asp-action="Edit" asp-route-id="@userData.Id" class="btn btn-outline-primary me-1 flex-grow-1"><i class="fas fa-eye"></i></a>
                                            <a asp-action="Delete" asp-route-id="@userData.Id" class="btn btn-outline-danger flex-grow-1"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </section>


        <section id="activeuser" class="content hidden-sectionbtn">
            <div class="row">

                @foreach (var userData in Model)
                {
                    @* var userData = (dynamic)user;*@
                    @if (userData.IsActive == true)
                    {
                        <div class="col-xxxl-4 col-lg-4 col-4">
                            <div class="card" style="border-radius: 15px; @GetBorderStyle(userData.IsActive);">
                                <div class="card-body p-4">
                                    <div class="d-flex text-black">
                                        <div class="flex-shrink-0">
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                                                 alt="Generic placeholder image" class="img-fluid"
                                                 style="width: 153px; border-radius: 10px;">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h5 class="mb-1"> @userData.UserName</h5>
                                            <p class="mb-2 pb-1" style="color: #2b2a2a;">@userData.Email</p>
                                            <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                                                 style="background-color: #efefef;">
                                                <div>
                                                    <p class="small text-muted mb-1">Recipes</p>
                                                    <p class="mb-0">@userData.TotalCreatedRecipes</p>
                                                </div>
                                                <div class="px-3">
                                                    <p class="small text-muted mb-1">Likes</p>
                                                    <p class="mb-0">@userData.TotalLikedRecipes</p>
                                                </div>
                                                <div>

                                                    <p class="small text-muted mb-1">Comments</p>
                                                    <p class="mb-0">@userData.TotalReviewedRecipes</p>
                                                </div>
                                            </div>
                                            <div class="d-flex pt-1">
                                                <a asp-action="Edit" asp-route-id="@userData.Id" class="btn btn-outline-primary me-1 flex-grow-1"><i class="fas fa-eye"></i></a>
                                                <a asp-action="Delete" asp-route-id="@userData.Id" class="btn btn-outline-danger flex-grow-1"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }


                }
            </div>
        </section>
        <section id="inactiveuser" class="content hidden-sectionbtn">
            <div class="row">

                @foreach (var userData in Model)
                {
                    @* var userData = (dynamic)user;*@
                    @if (userData.IsActive == false)
                    {
                        <div class="col-xxxl-4 col-lg-4 col-4">
                            <div class="card" style="border-radius: 15px; @GetBorderStyle(userData.IsActive);">
                                <div class="card-body p-4">
                                    <div class="d-flex text-black">
                                        <div class="flex-shrink-0">
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                                                 alt="Generic placeholder image" class="img-fluid"
                                                 style="width: 153px; border-radius: 10px;">
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h5 class="mb-1"> @userData.UserName</h5>
                                            <p class="mb-2 pb-1" style="color: #2b2a2a;">@userData.Email</p>
                                            <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                                                 style="background-color: #efefef;">
                                                <div>
                                                    <p class="small text-muted mb-1">Recipes</p>
                                                    <p class="mb-0">@userData.TotalCreatedRecipes</p>
                                                </div>
                                                <div class="px-3">
                                                    <p class="small text-muted mb-1">Likes</p>
                                                    <p class="mb-0">@userData.TotalLikedRecipes</p>
                                                </div>
                                                <div>

                                                    <p class="small text-muted mb-1">Comments</p>
                                                    <p class="mb-0">@userData.TotalReviewedRecipes</p>
                                                </div>
                                            </div>
                                            <div class="d-flex pt-1">
                                                <a asp-action="Edit" asp-route-id="@userData.Id" class="btn btn-outline-primary me-1 flex-grow-1"><i class="fas fa-eye"></i></a>
                                                <a asp-action="Delete" asp-route-id="@userData.Id" class="btn btn-outline-danger flex-grow-1"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }


                }
            </div>
        </section>
    </main>
    <!-- /.content -->
</div>


<a asp-action="Index"
   asp-route-searchString="@ViewBag.SearchString"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @(Model.HasPreviousPage ? "" : "disabled")">
    Previous
</a>
<a asp-action="Index"
   asp-route-searchString="@ViewBag.SearchString"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @(Model.HasNextPage ? "" : "disabled")">
    Next
</a>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var links = document.querySelectorAll('nav ul li a');
        var sections = document.querySelectorAll('main section');

        links.forEach(function (link) {
            link.addEventListener('click', function (event) {
                event.preventDefault();
                var target = this.getAttribute('href');
                var targetSection = document.querySelector(target);

                // Hide all sections
                sections.forEach(function (section) {
                    section.classList.add('hidden-sectionbtn');
                });

                // Show the target section
                targetSection.classList.remove('hidden-sectionbtn');
            });
        });
    });
</script>