@model PaginatedList<UserViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@functions {
    public string GetBorderStyle(bool? isActive)
    {
        if (isActive.HasValue && isActive.Value)
        {
            return "border: 2px solid green;";
        }
        else
        {
            return "border: 2px solid red;";
        }
    }
}


@if (Model.Count == 0)
{
	<div class="alert alert-warning" style="width: 64%;display: flex;justify-content: space-between;" role="alert" id="alert-message">
		<span style="margin-top: 8px;color: purple;">No User found.</span>
		<button id="redirectton" class="waves-effect waves-circle btn btn-circle btn-danger-light btn-xs  mb-5"><i class="fa fa-times"></i></button>
	</div>
}
else
{

    <style>
        .pagination {
            display: flex;
            margin-top: 20px;
        }

        .pagination-list {
            list-style: none;
            padding: 0;
            margin: 0;
        }

            .pagination-list li {
                display: inline-block;
                margin-right: 5px;
            }

        .current-page {
            display: inline-block;
            background-color: #4c95dd;
            color: white;
            padding: 5px 10px;
        }

        .pagination-list a {
            display: inline-block;
            padding: 5px 10px;
            text-decoration: none;
            color: black;
            border: 1px solid #ccc;
        }

            .pagination-list a:hover {
                background-color: #eee;
            }
    </style>
<div id="userList" class="container-full">
    <div class="content-header">
        <div class="d-flex align-items-center">
            <div class="me-auto">
                <h4 class="page-title">User List</h4>
                <h4 class="page-title"><a class="btn btn-success" asp-action="Create">Create New</a></h4>

            </div>

        </div>
    </div>
    <!-- Main content -->
    <main>
        <section id="AllUser" class="content ">
            <div class="row">

                @foreach (var userData in Model)
                {
                    @*var userData = (dynamic)user;*@
                    <div class="col-xxxl-4 col-lg-4 col-4">
                        <div class="card" style="border-radius: 15px; @GetBorderStyle(userData.IsActive);">
                            <div class="card-body p-4">
                                <div class="d-flex text-black">
                                    <div class="flex-shrink-0">
                                        @if (string.IsNullOrEmpty(userData.ImageFilePath))
                                        {
                                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                                                 alt="Generic placeholder image" class="img-fluid"
                                                     style="width: 153px;  height: 153px; border-radius: 10px;">
                                        }
                                        else
                                        {
                                            <img src="~/userimage/@userData.ImageFilePath"
                                                 alt="Generic placeholder image" class="img-fluid"
                                                     style="width: 153px;    height: 153px; border-radius: 10px;">
                                        }
                                        
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h5 class="mb-1"> @userData.FirstName  @userData.LastName</h5>
                                        <p class="mb-2 pb-1" style="color: #2b2a2a;">@userData.Email</p>
                                        <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                                             style="background-color: #efefef;">
                                            <div>
                                                <p class="small text-muted mb-1">Recipes</p>
                                                <p class="mb-0">@userData.TotalCreatedRecipes</p>
                                            </div>
                                            <div class="px-3">
                                                <p class="small text-muted mb-1">Likes</p>
                                                <p class="mb-0">@userData.TotalLikedRecipes</p>
                                            </div>
                                            <div>
                                                <p class="small text-muted mb-1">Comments</p>
                                                <p class="mb-0">@userData.TotalReviewedRecipes</p>
                                            </div>
                                        </div>
                                        <div class="act-btn d-flex justify-content-between">
                                            <div class="text-center mx-5">
                                                <a asp-action="Details" asp-route-id="@userData.Id" class="waves-effect waves-circle btn btn-circle btn-success-light mb-5"><i class="fa fa-eye"></i></a>

                                            </div>
                                            <div class="text-center mx-5">
                                                <a asp-action="Edit" asp-route-id="@userData.Id" class="waves-effect waves-circle btn btn-circle btn-primary-light  mb-5"><i class="fa fa-edit"></i></a>

                                            </div>
                                            <div class="text-center mx-5">
                                                <a asp-action="Delete" asp-route-id="@userData.Id" class="waves-effect waves-circle btn btn-circle btn-danger-light  mb-5"><i class="fa fa-trash"></i></a>

                                            </div>
                                        </div>
                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </section>
 
    </main>
    <!-- /.content -->
</div>

    <div class="pagination">
        <ul class="pagination-list">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li>
                    @if (i == Model.PageIndex)
                    {
                        <span class="current-page">@i</span>
                    }
                    else
                    {
                        <a href="?pageNumber=@i">@i</a>
                    }
                </li>
            }
        </ul>
    </div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var links = document.querySelectorAll('nav ul li a');
        var sections = document.querySelectorAll('main section');

        links.forEach(function (link) {
            link.addEventListener('click', function (event) {
                event.preventDefault();
                var target = this.getAttribute('href');
                var targetSection = document.querySelector(target);

                // Hide all sections
                sections.forEach(function (section) {
                    section.classList.add('hidden-sectionbtn');
                });

                // Show the target section
                targetSection.classList.remove('hidden-sectionbtn');
            });
        });
    });
</script>
}
<script>
    document.addEventListener("DOMContentLoaded", function () {
       
        // Add a click event listener to the button
        document.getElementById("redirectton").addEventListener("click", function () {
            // Redirect to the index page
            window.location.href = "AdminUsers/index"; // Replace with the actual URL
        });
    });
</script>