@model PaginatedList<BlogViewModel>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Blog List";
    ViewData["Title Description"] = "Blogs List Page";
    var latestBlogs = ViewData["LatestBlogs"] as List<Blog>;
    var topLikedBlogs = ViewData["TopLikedBlogs"] as List<BlogViewModel>;
    var categoryRecipeCount = ViewData["CategoryRecipeCount"] as List<RecipeViewModel>;

   
}

<section class="inner-page-banner bg-common" data-bg-image="~/img/figure/inner-page-banner1.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h1 class="h1-overss">@ViewData["Title Description"]</h1>
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>@ViewData["Title"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog-list-page-wrap padding-top-80 padding-bottom-50">
    <div class="container">
        <div class="row gutters-60">
            <div class="col-lg-8">
                @foreach (var blog in Model)
            {
                    <div class="blog-box-layout1">
                        <div class="item-figure">
                            <a asp-action="Details" asp-controller="UserBlog" asp-route-id="@blog.BlogId">
                                <img src="~/userimage/@blog.BlogImage" style="width: 759.99px;height: 389.83px;" alt="Blog">
                            </a>
                        </div>
                        <div class="item-content">
                            <ul class="entry-meta">
                                @{
                                    DateTime createdAt = DateTime.Parse(blog.CreatedAt.ToString());
                                }
                                <li><a asp-action="Details" asp-controller="UserBlog" asp-route-id="@blog.BlogId"><i class="fas fa-clock"></i>@createdAt.ToString("dd MMMM, yyyy")</a></li>
                                <li><a asp-action="Details" asp-controller="UserBlog" asp-route-id="@blog.BlogId"><i class="fas fa-user"></i>by <span>Admin</span></a></li>
                                <li><a asp-action="Details" asp-controller="UserBlog" asp-route-id="@blog.BlogId"><i class="fas fa-comments"></i>Comments <span>(@blog.TotalComments)</span></a></li>
                                <li><a asp-action="Details" asp-controller="UserBlog" asp-route-id="@blog.BlogId"><i class="fas fa-heart"></i><span>@blog.TotalLikes</span></a></li>
                            </ul>
                            <h3 class="item-title">
                                <a asp-action="Details" asp-controller="UserBlog" asp-route-id="@blog.BlogId">
                                    @blog.BlogTitle
                                </a>
                            </h3>
                            <p>
                                @blog.BlogShortDescription
                            </p>
                            <a asp-action="Details" asp-controller="UserBlog" asp-route-id="@blog.BlogId" class="item-btn">Continue Reading<i class="flaticon-next"></i></a>
                        </div>
                    </div>
            }

                <ul class="pagination-layout1">
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="@((i == Model.PageIndex) ? "active" : "")">
                            <a href="?pageNumber=@i">@i</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-lg-4 sidebar-widget-area sidebar-break-md">
                <div class="widget">
                    <div class="section-heading heading-dark">
                        <h3 class="item-heading">LATEST BLOG</h3>
                    </div>
                    <div class="widget-blog-post">
                        <ul class="block-list">
                            @foreach (var blogs in latestBlogs)
                        {       
                            <li class="single-item">
                                <div class="item-img">
                                        <a asp-action="Details" asp-controller="UserBlog" asp-route-id="@blogs.BlogId"><img src="~/userimage/@blogs.BlogImage" style="height:90px;width:90px;" alt="Post"></a>
                                </div>
                                <div class="item-content">
                                    <div class="item-post-date">
                                            <a asp-action ="Details" asp-controller="UserBlog" asp-route-id="@blogs.BlogId">
                                                @{
                                                    DateTime createdAts = DateTime.Parse(blogs.CreatedAt.ToString());
                                                }
                                                <i class="fas fa-clock"></i>@createdAts.ToString("dd MMMM, yyyy")
                                        </a>
                                    </div>
                                    <h4 class="item-title">
                                            <a asp-action ="Details" asp-controller="UserBlog" asp-route-id="@blogs.BlogId">
                                                @blogs.BlogTitle
                                        </a>
                                    </h4>
                                    <div class="item-post-by">
                                            <a asp-action="Details" asp-controller="UserBlog" asp-route-id="@blogs.BlogId">
                                            <i class="fas fa-user"></i><span>by</span>
                                            Admin
                                        </a>
                                    </div>
                                </div>
                            </li>
                        }
                            
                        </ul>
                    </div>
                </div>
                <div class="widget">
                    <div class="section-heading heading-dark">
                        <h3 class="item-heading">SUBSCRIBE &amp; FOLLOW</h3>
                    </div>
                    <div class="widget-follow-us">
                        <ul>
                            <li class="single-item"><a href="#"><i class="fab fa-facebook-f"></i>LIKE ME ON</a></li>
                            <li class="single-item"><a href="#"><i class="fab fa-twitter"></i>LIKE ME</a></li>
                            <li class="single-item"><a href="#"><i class="fab fa-linkedin-in"></i>LIKE ME</a></li>
                            <li class="single-item"><a href="#"><i class="fab fa-pinterest-p"></i>LIKE ME</a></li>
                            <li class="single-item"><a href="#"><i class="fab fa-instagram"></i>LIKE ME</a></li>
                            <li class="single-item"><a href="#"><i class="fab fa-youtube"></i>Subscribe</a></li>
                        </ul>
                    </div>
                </div>
                <div class="widget">
                    <div class="widget-ad">
                        <a href="#"><img src="~/img/figure/figure6.jpg" alt="Ad" class="img-fluid"></a>
                    </div>
                </div>
                <div class="widget">
                    <div class="section-heading heading-dark">
                        <h3 class="item-heading">CATEGORIES</h3>
                    </div>
                    <div class="widget-categories">
                        <ul>
                            @if (categoryRecipeCount != null)
                        {
                            @foreach (var category in categoryRecipeCount)
                             {
                            <li>
                                <a href="#">
                                        @category.Categoryname
                                            <span>@category.TotalLikes</span>
                                </a>
                                    </li>
                                }
                            }
                            else
                            {
                                <li>
                                    <a href="#">
                                        Null
                                        <span>Null</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                
                <div class="widget">
                    <div class="section-heading heading-dark">
                        <h3 class="item-heading">FEATURED BLOG</h3>
                    </div>
                    <div class="widget-featured-feed">
                        <div class="rc-carousel nav-control-layout1" data-loop="true" data-items="3"
                             data-margin="5" data-autoplay="true" data-autoplay-timeout="5000" data-smart-speed="700"
                             data-dots="false" data-nav="true" data-nav-speed="false" data-r-x-small="1"
                             data-r-x-small-nav="true" data-r-x-small-dots="false" data-r-x-medium="1"
                             data-r-x-medium-nav="true" data-r-x-medium-dots="false" data-r-small="1"
                             data-r-small-nav="true" data-r-small-dots="false" data-r-medium="1"
                             data-r-medium-nav="true" data-r-medium-dots="false" data-r-large="1"
                             data-r-large-nav="true" data-r-large-dots="false" data-r-extra-large="1"
                             data-r-extra-large-nav="true" data-r-extra-large-dots="false">
                            @if (topLikedBlogs != null && topLikedBlogs.Any())
                            {
                                @foreach (var blogg in topLikedBlogs)
                                {
                                    <div class="featured-box-layout1">
                                        <div class="item-img">
                                            <img style="width:349.98;height:276.93px;" src="~/userimage/@blogg.BlogImage" alt="Brand" class="img-fluid">
                                        </div>
                                        <div class="item-content">
                                            <span class="ctg-name">@blogg.Blogcategory</span>
                                            <h4 class="item-title"><a asp-action="Details" asp-controller="UserBlog" asp-route-id="@blogg.BlogId">@blogg.BlogTitle</a></h4>
                                            <p>
                                                @blogg.BlogShortDescription
                                            </p>
                                        </div>
                                    </div>
                                }
                            }
                           
                        </div>
                    </div>
                </div>
                <div class="widget">
                    <div class="section-heading heading-dark">
                        <h3 class="item-heading">INSTAGRAM</h3>
                    </div>
                    <div class="widget-instagram">
                        <ul>
                            <li>
                                <div class="item-box">
                                    <img src="~/img/social-figure/social-figure9.jpg" alt="Social Figure" class="img-fluid">
                                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="item-box">
                                    <img src="~/img/social-figure/social-figure10.jpg" alt="Social Figure" class="img-fluid">
                                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="item-box">
                                    <img src="~/img/social-figure/social-figure11.jpg" alt="Social Figure" class="img-fluid">
                                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="item-box">
                                    <img src="~/img/social-figure/social-figure12.jpg" alt="Social Figure" class="img-fluid">
                                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="item-box">
                                    <img src="~/img/social-figure/social-figure13.jpg" alt="Social Figure" class="img-fluid">
                                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="item-box">
                                    <img src="~/img/social-figure/social-figure14.jpg" alt="Social Figure" class="img-fluid">
                                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="item-box">
                                    <img src="~/img/social-figure/social-figure15.jpg" alt="Social Figure" class="img-fluid">
                                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="item-box">
                                    <img src="~/img/social-figure/social-figure16.jpg" alt="Social Figure" class="img-fluid">
                                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                                </div>
                            </li>
                            <li>
                                <div class="item-box">
                                    <img src="~/img/social-figure/social-figure17.jpg" alt="Social Figure" class="img-fluid">
                                    <a href="#" class="item-icon"><i class="fab fa-instagram"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="widget">
                    <div class="section-heading heading-dark">
                        <h3 class="item-heading">POPULAR TAGS</h3>
                    </div>
                    <div class="widget-tag">
                        <ul>
                            <li>
                                <a href="#">DESERT</a>
                            </li>
                            <li>
                                <a href="#">CAKE</a>
                            </li>
                            <li>
                                <a href="#">BREAKFAST</a>
                            </li>
                            <li>
                                <a href="#">BURGER</a>
                            </li>
                            <li>
                                <a href="#">DINNER</a>
                            </li>
                            <li>
                                <a href="#">PIZZA</a>
                            </li>
                            <li>
                                <a href="#">SEA FOOD</a>
                            </li>
                            <li>
                                <a href="#">SALAD</a>
                            </li>
                            <li>
                                <a href="#">JUICE</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
