@using Cooking_Hub.Data;
@using Microsoft.AspNetCore.Identity;
@using Newtonsoft.Json;
@model Cooking_Hub.Models.Recipe
@inject UserManager<CookingHubUser> UserManager
@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var ingredientData = ViewData["IngredientData"] as string;
	var nutritionData = ViewData["NutritionData"] as string;
}

<h1>Create</h1>

<h4>Recipe</h4>
<style>
	.image-upload {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: 2px dashed #ccc;
		border-radius: 10px;
		padding: 20px;
		text-align: center;
	}

		.image-upload label {
			margin-bottom: 10px;
		}

			.image-upload label i {
				font-size: 48px;
			}

			.image-upload label span {
				font-size: 16px;
				font-weight: bold;
				color: #666;
			}

		.image-upload input[type="file"] {
			display: none;
		}

	.preview-image {
		display: none;
		max-width: 300px;
		max-height: 300px;
		margin-top: 20px;
	}

</style>
<section class="content">
	<div class="row">
		<div class="col-12">
			<div class="box">
				<div class="box-body">
					<form id="ingredient-form" asp-controller="AdminRecipes" asp-action="Edit" enctype="multipart/form-data">

						<div class="form-body">
							<div class="row">
								<div style="display:none">
									@Html.HiddenFor(model => model.RecipeId)
									<input asp-for="RecipeId" class="form-control" />
									
									
									<input asp-for="UpdatedAt" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")" />

								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="fw-700 fs-16 form-label">Choose Cuisine</label>
										<select asp-for="CuisineId" class="form-control" asp-items="ViewBag.CuisineId"></select>

									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="fw-700 fs-16 form-label"> Choose Category</label>

										<select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
									</div>
								</div>
								<!--/span-->
								<!--/span-->
							</div>
							<!--/row-->
							<!--/row-->
							<div class="row">

								<div class="col-md-6">
									<div class="form-group">

										<span asp-validation-for="RecipeTitle" class="text-danger"></span>
										<label asp-for="RecipeTitle" maxlength="100" class="fw-700 fs-16 form-label">RecipeTitle</label>
										<textarea asp-for="RecipeTitle" type="text" class="form-control" placeholder="RecipeTitle" required> </textarea>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">

										<span asp-validation-for="RecipeshortDescription" class="text-danger"></span>
										<label asp-for="RecipeshortDescription" class="fw-700 fs-16 form-label">Recipe short Description</label>
										<textarea asp-for="RecipeshortDescription" maxlength="300" type="text" class="form-control" placeholder="Recipe short Description" required> </textarea>
									</div>
								</div>
								<!--/span-->
								<!--/span-->
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="fw-700 fs-16 form-label">Status</label>
										<div class="radio-list">
											<label class="radio-inline p-0 me-10">
												<div class="radio radio-info">
													<input asp-for="IsActive" type="radio" name="IsActive" id="radio1" value="True">
													<label for="radio1">Active</label>
												</div>
											</label>
											<label class="radio-inline">
												<div class="radio radio-info">
													<input asp-for="IsActive" type="radio" name="IsActive" id="radio2" value="False">
													<label for="radio2">In Active</label>
												</div>
											</label>
										</div>
									</div>
								</div>
							</div>
							<!--/row-->


							<div class="row">
								<div class="col-md-12 image-upload">


									<div class="image-wrapper">
										@if (string.IsNullOrEmpty(Model.RecipeImage))
										{
											<img src="~/img/file-upload-01.png" id="previewImage" class="image-preview" alt="Default Image" style="max-width:45%">
										}
										else
										{
											<img src="~/userimage/@Model.RecipeImage" id="previewImage" class="image-preview" alt="Image Preview" style="max-width:45%">
										}
										<input id="fileInput" name="photo" type="file" style="display: none;" class="form-control" />
									</div>
									<span asp-validation-for="RecipeImage" class="text-danger"></span>
								</div>
								<div class="col-md-12" style="margin-top:10px">
									<div class="form-group">
										<label class="fw-700 fs-16 form-label">Ingredients and Description</label>
										<textarea class="form-control p-20" id="editor" name="RecipeDescription" rows="4" required> @Html.Raw(Model.RecipeDescription)</textarea>
									</div>
								</div>

							</div>
							<!--  added Ingredients -->
							<div class="row" id="field-container">
								<div>
									<label class="fw-700 form-label">Add Ingredients</label>
									<a class="waves-effect waves-circle btn btn-circle btn-primary-light mb-5 add-field"><i class="fa fa-plus"></i></a>
								</div>

							
								
							</div>

							<!--  added nutrition -->
							<div class="row" id="field-container-nutri">
								<div>
									<label class="fw-700 form-label">Add Nutrition</label>
									<a class="waves-effect waves-circle btn btn-circle btn-primary-light mb-5 add-nutri"><i class="fa fa-plus"></i></a>
								</div>
								
							</div>
							<!--/row-->
							<div class="row" style="margin-top:20px;">
								<div>
									<label class="fw-700 form-label">Additional Informations:</label>
								</div>
								<div class="col-md-6">
									<div class="form-group">

										<div class="input-group">
											<div class="input-group-addon"><i class="fas fa-clock"></i></div>

											<input asp-for="PreparationTime" type="text" class="form-control" placeholder="Preparation Time: 00.00.00" pattern="\d{2}:\d{2}:\d{2}" title="Please enter a valid time in the format hh:mm:ss" required />
										</div>
									</div>
								</div>


								<div class="col-md-6">
									<div class="form-group">

										<div class="input-group">
											<div class="input-group-addon"><i class="fas fa-users"></i></div>
											<input asp-for="Serving" type="text" class="form-control" placeholder="Serving People: 00" required />
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">

										<div class="input-group">
											<div class="input-group-addon"><i class="fas fa-utensils"></i></div>
											<input asp-for="CookingTime" type="text" class="form-control" placeholder="Cooking Time: 00.00.00" pattern="\d{2}:\d{2}:\d{2}" required title="Please enter a valid time in the format hh:mm:ss" />
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">

										<div class="input-group">
											<div class="input-group-addon"><i class="fas fa-eye"></i></div>
											<span type="text" class="form-control" placeholder="People Views: 00">0</span>
										</div>
									</div>
								</div>
							</div>

						</div>
						<div class="form-actions mt-10">
							<button type="submit" class="btn btn-primary"> <i class="fa fa-check"></i> Save / Add</button>
							<button type="button" class="btn btn-danger">Cancel</button>
						</div>
						<input type="hidden" id="ingredientData" value="@Html.Raw(JsonConvert.SerializeObject(ingredientData))" />
						<input type="hidden" id="nutritionData" value="@Html.Raw(JsonConvert.SerializeObject(nutritionData))" />

					</form>
				</div>
			</div>
		</div>
	</div>
</section>

@section Scripts {

	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
		@*  https://summernote.org/getting-started/*@
	<script>
		$(document).ready(function () {
			$('#editor').summernote({
				placeholder: 'Write in detail',

				// set focus to editable area after initializing summernote
			});
		});
		document.getElementById('previewImage').addEventListener('click', function () {
			document.getElementById('fileInput').click();
		});

		document.getElementById('fileInput').addEventListener('change', function () {
			var reader = new FileReader();

			reader.onload = function (e) {
				document.getElementById('previewImage').setAttribute('src', e.target.result);
			};

			reader.readAsDataURL(this.files[0]);
		});
		$(document).ready(function () {
			// Handle file input change event
			$('#fileInput').change(function () {
				var file = $(this)[0].files[0];
				if (file) {
					var reader = new FileReader();
					reader.onload = function (e) {
						$('#previewImage').attr('src', e.target.result);
					}
					reader.readAsDataURL(file);
				} else {
					// Reset to default image when no file is selected
					$('#previewImage').attr('src', '~/img/file-upload-01.png');
				}
			});
		});

	</script>
	<script>
		$(document).ready(function () {
			var ingredients = []; // Array to hold the ingredient objects
			var nutrition = []; // Array to hold the nutrition objects

			// Add Field
			$('.add-nutri').click(function () {
				var indexs = $('.field-row-nutri').length; // Calculate the index based on the number of existing fields
				var newFields = `
							<div class="field-row-nutri" style="display: flex; justify-content: space-evenly;">
								<div class="col-md-4">
									<div class="form-group">
										<div class="input-group">
											<div class="input-group-addon"><i class="fas fa-apple-alt"></i></div>
											<input type="text" class="form-control nutrition-name" name="Nutrition[${indexs}].Name" placeholder="Nutrition Name">
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<div class="input-group">
											<div class="input-group-addon"><i class="fas fa-weight"></i></div>
											<input type="text" class="form-control nutrition-grams" name="Nutrition[${indexs}].Grams" placeholder="Grams">
										</div>
									</div>
								</div>
										<a class="waves-effect waves-circle btn btn-circle btn-danger-light mb-5 delete-field-nutri"><i class="fa fa-trash"></i></a>
							</div>
						`;

				$('#field-container-nutri').append(newFields);
			});

			// Delete Field
			$(document).on('click', '.delete-field-nutri', function () {
				$(this).closest('.field-row-nutri').remove();
			});
			// Add Field
			$('.add-field').click(function () {
				var index = $('.field-row').length; // Calculate the index based on the number of existing fields
				var newField = `
							<div class="field-row" style="display: flex; justify-content: space-evenly;">
								<div class="col-md-4">
									<div class="form-group">

										<div class="input-group">
											<div class="input-group-addon"><i class="fas fa-utensils"></i></div>
											<input type="text" class="form-control ingredient-name" name="Ingredients[${index}].Name" placeholder="Ingredients Name">
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">

										<div class="input-group">
											<div class="input-group-addon"><i class="fas fa-sort-numeric-up"></i></div>
											<input type="text" class="form-control ingredient-quantity" name="Ingredients[${index}].Quantity" placeholder="Quantity">
										</div>
									</div>
								</div>
								<a class="waves-effect waves-circle btn btn-circle btn-danger-light mb-5 delete-field"><i class="fa fa-trash"></i></a>
							</div>
						`;

				$('#field-container').append(newField);
			});

			// Delete Field
			$(document).on('click', '.delete-field', function () {
				$(this).closest('.field-row').remove();
			});

			// Submit Form
			$('#ingredient-form').submit(function (e) {

				e.preventDefault();


				ingredients = []; // Clear the ingredients array before populating it again

				$('.field-row').each(function () {
					var ingrename = $(this).find('.ingredient-name').val();
					var quantity = $(this).find('.ingredient-quantity').val();

					var ingredient = {
						ingrename: ingrename,
						quantity: quantity
					};

					ingredients.push(ingredient);
				});

				console.log(JSON.stringify(ingredients));
				var ingredientsData = JSON.stringify(ingredients);

				var ingredientHiddenInput = $('<input>').attr({
					type: 'hidden',
					name: 'ingredientJson', // Change the name here to 'ingredientJson'
					value: ingredientsData
				});


				nutrition = []; // Clear the nutrition array before populating it again

				$('.field-row-nutri').each(function () {
					var nutriname = $(this).find('.nutrition-name').val();
					var grams = $(this).find('.nutrition-grams').val();

					var nutrient = {
						nutriname: nutriname,
						grams: grams
					};

					nutrition.push(nutrient);
				});

				console.log(JSON.stringify(nutrition));
				var nutritionData = JSON.stringify(nutrition);

				var nutritionHiddenInput = $('<input>').attr({
					type: 'hidden',
					name: 'nutritionJson', // Change the name here to 'nutritionJson'
					value: nutritionData
				});

				$(this).append(ingredientHiddenInput).append(nutritionHiddenInput);


				this.submit();
			});
		});


	</script>


	<script>
		var ingredientData = @Html.Raw(ViewData["IngredientData"] as string);

		// Populate Ingredients
		var ingredientContainer = $('#field-container');
		/*ingredientContainer.empty();*/ // Clear existing fields


		$.each(ingredientData, function (index, ingredient) {
			var fieldRowingri = $('<div class="field-row" style="display: flex; justify-content: space-evenly;"></div>');

			var ingredientInputGroup = $('<div class="col-md-4"><div class="form-group"><div class="input-group"></div></div></div>');
			var ingredientAddon = $('<div class="input-group-addon"><i class="fas fa-utensils"></i></div>');
			var ingredientNameInput = $('<input type="text" class="form-control ingredient-name" placeholder="Ingredient Name" required>');
			ingredientNameInput.val(ingredient.ingrename);
			ingredientNameInput.attr('name', 'Ingredients[' + index + '].Name');

			ingredientInputGroup.find('.input-group').append(ingredientAddon);
			ingredientInputGroup.find('.input-group').append(ingredientNameInput);

			var quantityInputGroup = $('<div class="col-md-4"><div class="form-group"><div class="input-group"></div></div></div>');
			var quantityAddon = $('<div class="input-group-addon"><i class="fas fa-sort-numeric-up"></i></div>');
			var ingredientQuantityInput = $('<input type="text" class="form-control ingredient-quantity" placeholder="Quantity" required>');
			ingredientQuantityInput.val(ingredient.quantity);
			ingredientQuantityInput.attr('name', 'Ingredients[' + index + '].Quantity');

			quantityInputGroup.find('.input-group').append(quantityAddon);
			quantityInputGroup.find('.input-group').append(ingredientQuantityInput);

			fieldRowingri.append(ingredientInputGroup);
			fieldRowingri.append(quantityInputGroup);
			fieldRowingri.append($('<a  class="waves-effect waves-circle btn btn-circle btn-danger-light mb-5 delete-field"><i class="fa fa-trash"></i></a>'));

			ingredientContainer.append(fieldRowingri);
		});
		var nutritionDatass = @Html.Raw(ViewData["NutritionData"] as string);
		var nutritionContainer = $('#field-container-nutri');

		$.each(nutritionDatass, function (index, nutri) {
			var fieldRownutri = $('<div class="field-row-nutri" style="display: flex; justify-content: space-evenly;"></div>');

			var nutritionInputGroup = $('<div class="col-md-4"><div class="form-group"><div class="input-group"></div></div></div>');
			var nutritionAddon = $('<div class="input-group-addon"><i class="fas fa-apple-alt"></i></div>');
			var nutritionNameInput = $('<input type="text" class="form-control nutrition-name" placeholder="Nutrition Name" required>');
			nutritionNameInput.val(nutri.nutriname);
			nutritionNameInput.attr('name', 'Nutrition[' + index + '].Name');

			nutritionInputGroup.find('.input-group').append(nutritionAddon);
			nutritionInputGroup.find('.input-group').append(nutritionNameInput);

			var gramsInputGroup = $('<div class="col-md-4"><div class="form-group"><div class="input-group"></div></div></div>');
			var gramsAddon = $('<div class="input-group-addon"><i class="fas fa-weight"></i></div>');
			var nutritionGramsInput = $('<input type="text" class="form-control nutrition-grams" placeholder="Grams" required>');
			nutritionGramsInput.val(nutri.grams);
			nutritionGramsInput.attr('name', 'Nutrition[' + index + '].Grams');

			gramsInputGroup.find('.input-group').append(gramsAddon);
			gramsInputGroup.find('.input-group').append(nutritionGramsInput);

			fieldRownutri.append(nutritionInputGroup);
			fieldRownutri.append(gramsInputGroup);
			fieldRownutri.append($('<a class="waves-effect waves-circle btn btn-circle btn-danger-light mb-5 delete-field-nutri"><i class="fa fa-trash"></i></a>'));

			nutritionContainer.append(fieldRownutri);
		});

	</script>
}