@model IEnumerable<Cooking_Hub.Models.Recipe>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RecipeTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeshortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreparationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CookingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Serving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Views)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingridients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nutrition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipeImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cuisine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeshortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreparationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CookingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Views)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingridients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nutrition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuisine.CuisineId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RecipeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RecipeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RecipeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
